<div class="content-wrapper">
  <div class="content-block">
    <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>  
   <% @items.each do |item| %>
    <div class="content">
      <div class="user-about">
        <div class="image">
          <% if item.user.image.attached? %>
           <%= image_tag item.user.image %>
          <% else %>
            <%= image_tag "nouser.png"%>
          <% end %>
        </div>
        <div class="profile">
          <div class="name-about">
            <div class="name">
               <%= item.user.name %>
            </div>
          </div>
          
          <div class="detail">
            <%= item.user.detail %>
          </div>
        </div>
      </div>
      <% if item.images.attached? %>
      <div class="images">
        <%= link_to item_path(item.id) do %>
          <% item.images.each do |image| %>
            <%= image_tag image %>
          <% end %>
          </div>
         <% end %>
        <% end %>
        <div class="text">
       <%= item.content %>
      </div>
    </div>
   <% end %>
  </div>
</div>